* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  height: fit-content;
}

.left {
  grid-column: 1 / 2;
}

.center {
  grid-column: 2 / auto;
  grid-row: 1 / 4;
}

.grid-container {
  background-color: #151515;
  
  border-width: 7px;
  border-style: solid;
  border-color: #151515;
  
  padding: 10px;

  display: grid;
  grid-auto-columns: 20% auto;
  grid-auto-rows: auto auto auto;
  gap: 15px;
}

.grid-container div {
  border-color: rgba(255, 255, 255, 0.05);
  color: #DDD;
  
  border-radius: 15px;
  border-style: dashed;
  border-width: 3px;
  
  font-family: 'Ubuntu';
}

.grid-container div h1 {
  text-shadow: 2px 2px 4px #000;
  font-size: 30px;

  border-width: 0 0 0 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);

  padding: 0 0 5px 0;
  transition: 0.25s;
}

.grid-container div h1:hover {
  border-width: 0 0 0 5px;
}

.grid-container div h2 {
  text-shadow: 2px 2px 4px #000;
  color: #555;
  
  padding: 0 0 20px 0;
  
  font-size: 10px;
  font-style: italic;
}

.grid-container div p {
  background-color: rgba(0,0,0,0.4);
  
  font-size: 12px;
  font-family: 'Merriweather';
  text-align: justify;
  
  padding: 10px;
  border-style: inset;
  border-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
}

#header {
  padding: 14px;
}

#entries {
  padding: 14px;
}

#entries h1 {
  padding: 0 0 10px 0;
}

#entries ul {
  list-style-type: none;
  background-color: rgba(0,0,0,0.4);
  font-size: 12px;
  font-family: 'Merriweather';
  text-align: justify;
  border-style: inset;
  border-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
}

#entries li {
  text-shadow: 1px 1px 3px #000;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0 5px 0 5px;
  border-style: solid;
  padding: 10px;
  border-radius: 12px;
  transition: 0.25s;
}

#entries li:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.15);
}

#links {
  font-size: 15px;
}

#links ul {
  list-style-type: none;
  max-height: min-content;
  margin: 0;
  padding: 0;
}

#links li {
  text-shadow: 1px 1px 3px #000;
  text-align: left;
  padding: 10px;
  border-radius: 12px;
  transition: 0.25s;
}

#links .sc:hover {
  background-color: rgba(255, 128, 0, 0.6);
}

#links .ig:hover {
  background-color: rgba(214, 41, 118, 0.6);
}

#links .tw:hover {
  background-color: rgba(191, 53, 255, 0.6);
}

#links .tt:hover {
  background-color: rgba(0, 174, 255, 0.6);
}

#content {
  padding: 14px;
}
