@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Noto+Serif&family=PT+Sans:ital@0;1&display=swap');

:root {
  --sans-serif-title: 'Fira Sans', sans-serif;
  --sans-serif-regular: 'PT Sans', sans-serif;
  --serif-regular: 'Noto Serif', serif;
  --main-color: rgb(151, 39, 39);
  --black: rgb(24, 26, 27);
  --grey: rgb(93, 93, 93);
  --white: rgb(218, 218, 218);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  background-color: var(--black);
  color: rgb(218, 218, 218);
}

header {
  grid-area: header;
}

header h1 {
  font-size: 4rem;
  font-family: var(--sans-serif-title);
  border-left: 10px var(--main-color) solid;
  padding: 0.5rem;
}

header h2 {
  color: var(--grey);
  font-size: 1rem;
  font-family: var(--sans-serif-regular);
  margin: 1rem 0;
}

header #hamb {
  display: none;
}

#socials {
  grid-area: socials;
  margin: 2rem 0;
}

#socials h1 {
  font-size: 2.5rem;
  font-family: var(--sans-serif-title);
}

#socials ul {
  display: flex;
  flex-direction: column;
}

#socials ul a {
  width: min-content;
}

#socials ul li {
  cursor: pointer;
  font-family: var(--sans-serif-regular);
  font-size: 1rem;
  color: white;
  border-left: 5px rgb(160, 160, 160) solid;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

#socials ul a :hover {
  border-width: 1rem;
  transition: border-width 0.2s ease-in-out;
}

#soundcloud {
  border-color: #ff5500 !important;
}

#instagram {
  border-color: #dd2a7b !important;
}

#facebook {
  border-color: #2d88ff !important;
}

#twitch {
  border-color: #9147ff !important;
}

#twitter {
  border-color: #1da1f2 !important;
}

#navlist {
  justify-self: end;
  grid-area: navlist;
  position: fixed;
  margin: 2rem 0;
}

#navlist ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#navlist ul li button {
  cursor: pointer;
  font-family: var(--sans-serif-regular);
  font-size: 1.5rem;
  text-align: right;
  color: white;
  border: none;
  border-right: 5px rgb(160, 160, 160) solid;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

#navlist ul li button:disabled {
  border-right: 5px var(--main-color) solid;
}

#navlist ul li button:enabled:hover {
  border-width: 1rem;
  transition: border-width 0.2s ease-in-out;
}

#post {
  justify-self: center;
  grid-area: post;
  width: 90%;
}

#post h1 {
  font-size: 3rem;
  font-family: var(--sans-serif-title);
  border-left: 7px var(--main-color) solid;
  padding: 0.5rem;
}

#post .info {
  margin: 1rem 0;
}

#post small {
  font-family: var(--sans-serif-regular);
  font-size: 1rem;
  color: rgb(93, 93, 93);
  font-style: italic;
  display: block;
}

#post p {
  font-size: 1rem;
  font-family: var(--serif-regular);
  margin: 1rem;
  padding: 1rem;
  border: 3px rgba(255, 255, 255, 0.4) solid;
  border-radius: 1rem;
}

.grid-container {
  margin: 3rem;
  display: grid;
  grid-template-areas:
    'header post navlist'
    'socials post navlist';
}

#backdrop {
  display: none;
}

@media (max-width: 768px) {
  header {
    border-bottom: 3px var(--main-color) solid;
  }

  header h1 {
    border-left: none;
  }

  header h2 {
    display: none;
  }

  header #hamb {
    cursor: pointer;
    display: block;
    font-size: 3rem;
    position: absolute;
    top: 3rem;
    right: 2.5rem;
  }

  #navlist {
    display: none;
  }

  #socials {
    margin: 0;
    padding: 2rem;
    width: 80vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
  }

  #socials.active {
    transform: translateX(0);
  }

  #close {
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    display: block;
    top: 2.3rem;
    right: 2rem;
  }

  #post h1 {
    text-align: center;
    margin-top: 1rem;
    border-left: none;
  }

  #post .info {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  #author {
    text-align: center;
    margin-top: 0;
    font-size: 0.5rem;
  }

  #date {
    text-align: center;
    margin-top: 0;
    font-size: 0.5rem;
  }

  #backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    opacity: 0;
  }

  #backdrop.active {
    display: block;
    opacity: 100%;
    transition: opacity 0.2s ease-in-out;
  }

  .grid-container {
    margin: 1.5rem;
    grid-template-areas:
      'header'
      'post';
  }
}
